header{
    background: linear-gradient(141deg, #52EDC7/*rgba(82, 237, 199, 0.65)*/, #00AECA);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#menu-header li a, .heading_supersize, .welcome_text{
    color:white;
}

#menu-header li:hover{
    background: rgba(255,255,255,0.2);
}

.box.photo p{
    text-align:center;
    background: #00AECA;
}
.box.photo p a{
    color: white;
}

.col2 img {
    max-width: none!important;
}

.error {
    color: red;
    font-size:80%;
}
/*!*----------------------css del login-box ------------------------*!*/
/*.login-box {*/
    /*background: #fff;*/
    /*border: 1px solid #ddd;*/
    /*margin: 100px 0;*/
    /*padding: 40px 20px 0 20px;*/
/*}*/

/*----------------------css del boton ir arriba------------------------*/
.to-top {
    display:inline-block;
    padding:15px;
    background:#00AECA;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:20px;
}
/*----------------------css del logo------------------------*/
.logo{
    float: left;
    margin-right: 5%;
    width: 19.5555%;
}

/*----------------------css de search box------------------------*/

.table-propio {
    border-width: 3px;
    width: 100%;
}

.table-propio .th {
    background-color: #3553ff;
    color: white;
    width: 100%;
}

.table-propio .td {
    background-color: white;
    width: 100%;
}

th {
    background-color: #4c4aff;
    color: white;
}
.campos {
    background-color: LightSkyBlue;
    color: white;
}
/*.table {*/
    /*background-color: blue;*/
/*}*/

.titulo-lista {
    width: 90%;
    background-color: deepskyblue;
    color: white;
}

.anyadir {
    background-color: white;
    width: 50px;
    height: 30px;
}

i.anyadir {
    color: skyblue;
    font-size: 200%;
}

.reveal-modal {
    background: white;
    visibility: hidden;
    display: none;
    top: 100px;
    left: 50%;
    margin-left: -260px;
    width: 520px;
    position: absolute;
    z-index: 41;
    padding: 30px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.article-last-header {
    color: #1abc9c;
    text-align: left;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 26px;
    font-weight: bold;
}
.theme-forum:hover {
    background-color: #ECF0F1;
    color: #FFF;
    -webkit-transition: background-color .35s linear;
    -moz-transition: background-color .35s linear;
    -o-transition: background-color .35s linear;
    -ms-transition: background-color .35s linear;
    transition: background-color .35s linear;
}
.theme-forum {
    height: 80px;
    border: 1px solid #ECF0F1;
    border-radius: 10px;
    margin-bottom: 15px;
    -webkit-transition: color .35s ease-out;
    -moz-transition: color .35s ease-out;
    -o-transition: color .35s ease-out;
    transition: color .35s ease-out;
    cursor: hand;
    cursor: pointer;
    text-align: center;
}
.theme-forum-title {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.linkforum {
    color: #37393A;
}

/***************** Estilos para las columnas *******************/
.col-md-3 {
    width: 50%;
}

.col-md-4 {
    width: 35%;
}

.col-md-9 {
    width: 23%;
}

.col-md-9-propadmin {
    width: 15%;
}

.col-md-12 {
    width: 10%;
}

.col-md-1 {
    width: 100%;
}

/*****************************************************************/
/*css para el spoiler*/
input[id^="spoiler"]{
    display: none;
}
input[id^="spoiler"] + label {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 5px 20px;
    background: deepskyblue;
    color: #fff;
    text-align: center;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .6s;
}
input[id^="spoiler"]:checked + label {
    color: #333;
    background: #ccc;
}
input[id^="spoiler"] ~ .spoiler {
    width: 90%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 10px auto 0;
    padding: 10px;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all .6s;
}
input[id^="spoiler"]:checked + label + .spoiler{
    height: auto;
    opacity: 1;
    padding: 10px;
}