@import "compass/css3";

body {
    background: #F0F0F3;
}
.login-box {
    /*background: #fff;*/
    /*border: 1px solid #ddd;*/
    /*!*margin: 100px 0;*!*/
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    /*!*padding: 40px 20px 0 20px;*!*/
    background: #fff;
    border: 1px solid #ddd;
    /*padding: 1rem;*/
    border-radius: 3px;
    /*text-align: left;*/
    /*width: 50%;*/
    padding: 40px 40px 40px 40px;


    /*position: absolute;*/
    /*left:0;*/
    /*right:0;*/
    /*margin: auto;*/
    /*width: 481px;*/
    /*text-align: center;*/
}
/*.container {*/
    /*position: absolute;*/
    /*left:0;*/
    /*right:0;*/
    /*margin: auto;*/
    /*width: 481px;*/
    /*text-align: center;*/
/*}*/
.log-in-form {
    border: 1px solid #cacaca;
    padding: 1rem;
    border-radius: 3px;
}